<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>
<body>
    <h4>Pls input email & password for login</h4>
    <form action="/auth" method="post">
      <input type="text" name="login">
      <input type="text" name="password">
      <input type="submit" value="Send">
    </form>
    
    <h4> If you don't have an account pls SIGN UP</h4>
    <button onclick="window.location.href='/signup';">
      Sign UP
    </button>
</body>
</html>