<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp page</title>
</head>
<body>
    <h4>Create an account with next data:</h4>
    <form action="/users" method="post">
      <input type="text" name="name">Your name<Br>
      <input type="text" name="age">Your age<Br>
      <input type="email" name="login" required>Login
      <input type="text" name="password" required>Password
     
      <input type="submit" value="Send">
 
    </form>
</body>
</html>