extends email_container
block content 
    div.block
        | HELLO #{userName}, please, do not reply to this msg
    div.block
        | Here is your:
        | login: #{login} and password: #{password}
    div.block
        | You should update login and password to your own, pls login in and update your pass! 
        a(href=frontendLoginUrl) link to login