doctype html 
html 
    head
        style
            include style.css
    body 
        div.block
            h1 
            | LLC TASK-8 
        div.block 
            block content 
        div.footer 
            | Best regards 
            a(href=frontendURL) InoXoft course, task-8